build/*
dist/*
test/*
test*
*.db
*.sqlite
*.png
*.log
*.pkl
*.pyc
*.swp
tutorial/*
itchatResource/*
.idea/*
.vscode/*
.pylintrc
kernel-4bcd1c6c-18f5-4b29-ad89-a1def2620b88.json
ProxyPool
weixinart/config.py
bingWallPaper/config.py
sessss.py
